<%= render "shared/headers"%>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      社員情報入力
    </h1>
  </div>

  <%= render 'shared/error_messages', model: @user %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">名前</label>
    </div>
    <%= f.text_area :name, class:"input-default", id:"name", placeholder:"例) 山田太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
     <%= f.label :department_id, '部署名'%>
     
    <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"department-select"}) %>
    <div class="compact-date-select">
    <%= f.label :hired_date, '入社日' %>
    <div class="date-select-wrapper">
    <%= f.date_select :hired_date, { prompt: { year: '年', month: '月', day: '日' }, use_month_numbers: true } %>
    </div>
    </div>

  
  <div class='register-btn'>
    <%= f.submit "登録" ,class:"register-red-btn" %>
  </div>
  <div class='login-btn'>
  <%= link_to "ログインはこちら", new_user_session_path, class: 'login-button' %>
  </div>
</div>
<% end %>