<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <header>
  <div class="schedule-header">
    <%= image_tag("public/logo2.png", alt: "T.schedule Logo", class: "logo-header") %>
    <h1 class="header-title"><%= current_user.name %> さんのスケジュール</h1>
    <%= link_to '予定を入れる', new_schedule_path, class: 'schedule-btn' %>
    <%= link_to '部署スケジュール', department_path(current_user.department_id), class: 'schedule-btn' %>
    <%= link_to '有給申請', new_leave_application_path, class: 'schedule-btn' %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'schedule-btn' %>
  
  </div>
  </header>

  <%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <div>
        <%= link_to schedule.title, schedule %>
      </div>
    <% end %>
  <% end %>
</body>
</html>
