<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>開始時間</strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @schedule.description %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
