<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>開始時間</strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @schedule.description %>
</p>

<%= link_to '編集', edit_schedule_path(@schedule) %> |
<%= link_to '戻る', schedules_path %>
<td><%= link_to '削除',schedule_path(@schedule.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>