<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>開始時間</strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @schedule.description %>
</p>

<% if @schedule.user == current_user %>
  <%= link_to '編集', edit_schedule_path(@schedule) %> |
  <%= link_to '削除', schedule_path(@schedule), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to '戻る', schedules_path %>
