<div class="schedule-container">
  <div class="vertical-center">

    <div class="schedule-detail">
      <strong class="schedule-detail-label">予定:</strong>
      <%= @schedule.title %>
    </div>

    <div class="schedule-detail">
      <strong class="schedule-detail-label">開始時間:</strong>
      <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
    </div>

    <div class="schedule-detail">
      <strong class="schedule-detail-label">詳細内容:</strong>
      <%= @schedule.description %>
    </div>

    <% if @schedule.user == current_user %>
      <div class="schedule-links">
        <%= link_to '編集', edit_schedule_path(@schedule), class: "schedule-detail-link" %>
        <%= link_to '削除', schedule_path(@schedule), method: :delete, data: { confirm: 'Are you sure?' }, class: "schedule-detail-link" %>
      </div>
    <% end %>

    <div class="show-back-link">
      <%= link_to '戻る', schedules_path %>
    </div>
  </div>
</div>
