<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <header>
  <div class="schedule-header">
  <h1 class="header-title"><%= @department.name %>のスケジュール</h1>

  <%= link_to '予定を入れる', new_schedule_path, class: 'schedule-btn' %>
  <%= link_to '自分のスケジュールに戻る', schedules_path, class: 'schedule-btn' %>
  <%= link_to '有給申請一覧', leave_applications_path, class: 'schedule-btn' %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'schedule-btn' %>

  <div>
  </header>

  <%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <div>
        <%= link_to schedule.title, schedule %>
      </div>
    <% end %>
  <% end %>

  <footer>
  <div class="calendar-footer">
    <% @schedules.each do |schedule| %>
      <div class="schedule-info">
        <h3><%= schedule.title %></h3>
        <p><strong>制作者:</strong> <%= schedule.user.name %></p>
        <p><strong>開始日:</strong> <%= schedule.start_time.to_date.strftime("%Y-%m-%d") %></p>
        <p><strong>開始時間:</strong> <%= schedule.start_time.strftime("%H:%M") %></p>
        <%= link_to '詳細', schedule, class: 'btn-sm' %>
      <%= link_to '編集', edit_schedule_path(schedule.id), class: 'btn-sm' %>
      <%= link_to '削除', schedule_path(schedule.id), method: :delete, data: { confirm: "予定を削除しますか？" }, class: 'btn-sm' %>
      </div>
      <hr class="schedule-divider">
    <% end %>
  </div>
  <footer>
</body>
</html>