<!-- app/views/paid_leaves/new.html.erb -->

<h1>有給申請</h1>

<p>残りの有給日数: <%= @remaining_days %>日</p>
<p>有給消滅日: <%= @expiration_date %></p>

<%= form_with model: @paid_leave, url: paid_leaves_path do |form| %>
  <div>
  <%= form.label :vacation_days, "有給休暇日数" %>
  <%= form.number_field :vacation_days, min: 0 %>
</div>

  <div>
    <%= form.label :start_date, "開始日" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, "終了日" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :reason, "理由" %>
    <%= form.text_area :reason %>
  </div>

  <%= form.submit "申請" %>
<% end %>


<%= link_to 'マイページに戻る', schedules_path %>
