<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: "＜"), calendar.url_for_previous_view, class: 'calendar-nav-link' %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: "＞"), calendar.url_for_next_view, class: 'calendar-nav-link' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <tfoot>
  <div class="calendar-footer" style="display: flex; overflow-x: auto;">
    <% current_month_events = sorted_events.select { |date, _events| date.year == start_date.year && date.month == start_date.month } %>
    <% current_month_events.each do |date, events| %>
      <% events.each do |event| %>
        <div class="schedule-info">
          <p><strong>開始日:</strong> <%= event.start_time.to_date.strftime("%Y-%m-%d") %></p>
          <p><strong>開始時間:</strong> <%= event.start_time.strftime("%H:%M") %></p>
          <h4><%= event.title %></h4>
          <p><%= event.description %></p>
          <p><strong>設定者:</strong> <%= event.user.name %></p>
            <a href="<%= schedule_path(event) %>" class="btn-sm">詳細</a>
            <% if current_user && current_user == event.user %>
            <a href="<%= edit_schedule_path(event) %>" class="btn-sm">編集</a>
            <a href="<%= schedule_path(event) %>" class="btn-sm" data-confirm="本当に削除しますか？" data-method="delete">削除</a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  </tfoot>
</div>