<h1>有給申請</h1>

<p>残りの有給日数: <%= @remaining_day %>日</p>
<p>有給消滅日: <%= @expiration_date %></p>

<%= form_with model: @leave_application, url: leave_applications_path do |form| %>
  <div>
    <%= form.label :start_date, "開始日" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, "終了日" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :reason, "理由" %>
    <%= form.text_area :reason %>
  </div>

  <%= form.submit "申請" %>
<% end %>

<%= link_to 'マイページに戻る', schedules_path %>
